main{
    background: white url(../images/bg-pattern-desktop.svg) no-repeat 1260% 70%;
    margin: auto auto 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 509px;
    width: 920px;
    border-radius: 20px;

    @media (max-width: 64rem){
        width: 720px;
        grid-template-columns: 300px 1fr;
        // height: 450px;
    }

    @media (max-width: 37.5rem) {
        background: white url(../images/bg-pattern-mobile.svg) no-repeat top;
        grid-template-columns: 1fr;
        width: 310px;
        height: auto;
    }
}